@using MyPortfolio.WebUI.DAL.Entities
@model List<Portfolio>
<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Projeler</h3>
            <h1>Çalıştığım Projolerime Göz Atabilirsiniz</h1>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">
            @foreach (var item in Model)
            {
                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="~/hola-master/images/portfolio/gallery/@item.ImageUrl" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img src="~/hola-master/images/portfolio/@item.ImageUrl"
                                     srcset="/hola-master/images/portfolio/@item.ImageUrl 1x, /hola-master/images/portfolio/@item.ImageUrl 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                @item.Title
                            </h3>
                            <p class="item-folio__cat">
                                @item.SubTitle
                            </p>
                        </div>

                        <a href="@item.Url" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>@item.Description</p>
                        </div>

                    </div> 
                </div> 
            }
            

        </div>
    </div> <!-- end masonry -->

</section>